.Summary {
    width: 60%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 224, 245);
    border-radius: 5px;
    padding: 20px;
    margin: 30px 0;
}

.SkillsContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Summary ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.Summary li {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}

.Container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 5px;
}

.Container p:first-child {
    margin: 10px;
}

.ButtonContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.ButtonContainer button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: red;
    font-size: 15px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 250ms all ease;
}

.ButtonContainer button:nth-of-type(1):hover {
    background-color: rgb(253, 85, 85);
}

.ButtonContainer button:nth-of-type(2) {
    background-color: orange;
}

.ButtonContainer button:nth-of-type(2):hover {
    background-color: rgb(251, 203, 113);
}

.ButtonContainer button:nth-of-type(3) {
    background-color: greenyellow;
}

.ButtonContainer button:nth-of-type(3):hover {
    background-color: rgb(152, 250, 4)
}

.ButtonContainer button:nth-of-type(4) {
    background-color: green;
}

.ButtonContainer button:nth-of-type(4):hover {
    background-color: rgb(6, 223, 6);
}

.Submit {
    width: 90%;
    margin: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(132, 10, 189);
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 250ms all linear;
}

.Submit:hover {
    background-color: rgb(37, 4, 63);
    color: white;
}


@media (max-width: 500px)  {
    .Summary {
        width: 90vw;
        min-height: 70vh;
    }
    
    .SkillsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .SkillsContainer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .SkillsContainer li {
        margin-bottom: 10px;
    }

    .SkillsContainer h1 {
        margin-bottom: 20px;
    }
    
    .Summary ul{
        width: 100%;
    }
     
    .Container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        margin: 20px 0;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    .Container p:first-child {
        margin: 10px;
    }
    
    .ButtonContainer {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .ButtonContainer button {
        width: 80%;
        margin-bottom: 10px;
    }
}