.Candidate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(237, 224, 245);
    border-radius: 10px;
    min-height: 10vh;
    width: 100%;
    cursor: pointer;
    transition: 250ms all ease;
}

.Candidate:hover {
    background-color: rgb(246, 246, 246);
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.Container h2 {
    margin: 5px;
}

.Name {
    padding: 5px;
}

.PrimarySkill {
    border: 1px solid rgb(132, 10, 189);
    border-radius: 5px;
    padding: 5px 10px;
}

.Container ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 2;
    margin: 5px;
}

.Container li {
    list-style: none;
    border: 1px solid rgb(132, 10, 189);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

@media (max-width: 500px)  {
    .Candidate {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80vw;
        min-height: 70vh;
        margin: 50px 0;
    }

    .Container {
        flex-direction: column;
        justify-content: space-evenly;
    }
    

    .Container ul {
        flex-direction: column;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
    }
    
}